# Configuración de Conexión a Base de Datos PostgreSQL (Local o Docker)
# En Docker, localhost se reemplaza por el nombre del servicio de la base de datos (db).
DATABASE_URL="postgresql://postgres:0000@db:5432/HorarioUniMayor?schema=public"

# Parámetros individuales de la conexión
DATABASE_HOST="db"
DATABASE_PORT=5432
DATABASE_USER="postgres"
DATABASE_PASSWORD="0000"
DATABASE_NAME="HorarioUniMayor"

# Puerto de escucha del servidor Backend Express
PORT=3000

# Parámetros de seguridad JWT
JWT_SECRET="firma_secreta_institucional_colegio_mayor_del_cauca_2026"
JWT_EXPIRATION="4h"
